<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Inicio </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [fullscreen]="true"
    class="ion-padding"
>
    <ion-text>
        <h1>Establecer conexión</h1>
    </ion-text>

    <ion-card
        color="translucent"
        no-border
        class="ion-no-margin"
    >
        <ion-card-content>
            <ion-input
                type="text"
                inputmode="numeric"
                placeholder="000 000"
                fill="solid"
                maxlength="6"
                counter
                [(ngModel)]="pairingCode"
            ></ion-input>
        </ion-card-content>

        <ion-button class="ion-margin"> Conectar </ion-button>
    </ion-card>

    <ion-button
        color="dark"
        expand="block"
        class="ion-margin-vertical"
    >
        <span>
            <ion-icon
                slot="start"
                name="qr-code-outline"
            ></ion-icon>

            Escanear código QR
        </span>
    </ion-button>

    <ion-text>
        <span>v0.1.0</span>
    </ion-text>
</ion-content>
